.mobile-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 6px 0 10px;
  max-height: 100%;
  
  &::-webkit-scrollbar { width: 6px; }
  &::-webkit-scrollbar-thumb { 
    background: rgba(255,255,255,0.15); 
    border-radius: 10px; 
  }
  &::-webkit-scrollbar-track { 
    background: rgba(255,255,255,0.05); 
    border-radius: 10px; 
  }
}
